In [8]:
def gen(n, p):
    ! mkdir -p ./contest/{n}
    ! [[ ! -e ./contest/{n}/{p}.cpp ]] && cp ./template.cpp ./contest/{n}/{p}.cpp
    ! touch ./contest/{n}/{p}.txt

gen('1905', 'a')

# 2024.02

## Codeforces Round 917 (Div. 2)

URL: https://codeforces.com/contest/1917

### 1917C

- n個の数列A
- n<2000
- 最大値

```
a=[1,2,3], b=[1,3,2,3,1,3,2,3,…]
1: s=3; a=[0,0,0]
3: a=[1,1,1]
2: a=[2,2,1]
3: s=1; a=[0,0,0]
res=4
```

- i番目の要素を増やせるのはi <= b[i]のとき
- 番号が大きいほど増やしにくい
- resetするまでシミュレーション
- [0,0,...]以降
    - 最適な数列が増加列であるのに対して操作後に得られるのは減少列
    - 毎回resetを繰り返すような形が最適

## Codeforces Round 915 (Div. 2)

https://codeforces.com/contest/1905

### A. Constructive Problems

- n*mの行列

### B. Begginer's Zelda

- 木が与えられる
- 指定した2頂点を結ぶ経路を圧縮できる
- すべて圧縮して単一頂点にしたい
- 葉要素の個数に比例

# 5: 2024.02

skip

- https://codeforces.com/contest/1687/problem/A

## 1: ./problemset/202402.1704721877

### https://codeforces.com/contest/1858/problem/A

- [file](./problemset/202402.1704721877/1858a.cpp)

### https://codeforces.com/contest/1842/problem/A

- [file](./problemset/202402.1704721877/1842a.cpp)
- n個の数列とm個の数列
- 和を取って大小比較
- STLにsum関数なかった
- C++17以降だとreduceが使えるっぽい

### https://codeforces.com/contest/1740/problem/B

- [file](./problemset/202402.1704721877/1740b.cpp)
- a[i]*b[i]の長方形がn個
- 回転できる
- 上には置けない
- 組み合わせてできる図形の周囲の長さを取りたい

### https://codeforces.com/contest/1777/problem/A

- [file](./problemset/202402.1704721877/1777a.cpp)
- n個の数列
- 隣接する要素の偶奇が異なるようにしたい

### https://codeforces.com/contest/1726/problem/A

- [file](./problemset/202402.1704721877/1726a.cpp)
- n個の数列
- 指定範囲をローテーションできる
- 最後と最初の要素の差を最大化したい
- 禁忌に気をつける

## 2: ./problemset/202402.093422

### https://codeforces.com/contest/1684/problem/C

- [file](./problemset/202402.093422/1684c.cpp)
- n * mのグリッド
- 適当な2列を入れ替えてソート済みにしたい

### https://codeforces.com/contest/1647/problem/A

- [file](./problemset/202402.093422/1647a.cpp)
- 各桁の総和がnになるものを最大化したい

### https://codeforces.com/contest/1687/problem/A

- [file](./problemset/202402.093422/1687a.cpp)
- skip

### https://codeforces.com/contest/1883/problem/D

- [file](./problemset/202402.093422/1883d.cpp)
- 重ならない線分があるかどうか判定したい
- 左端の最大値と右端の最小値を比較

### https://codeforces.com/contest/1637/problem/C

- [file](./problemset/202402.093422/1637c.cpp)
- n個の数列
- 端に寄せたい

# problemset.problems

In [65]:
import pandas as pd
import duckdb

df = pd.DataFrame(pd.read_json('./api/problemset.problems.json.gz').result.problems)

query = '''
    select
        *
    from
        df
    limit 1
'''
duckdb.connect().execute(query).df()

,contestId,index,name,type,points,rating,tags
0,1919,H,Tree Diameter,PROGRAMMING,5000.0,3500.0,"[interactive, trees]"

In [66]:
import pandas as pd
import duckdb

df = pd.DataFrame(pd.read_json('./api/problemset.problems.json.gz').result.problems)

query = '''
    select
        r,
        count(1) as cnt
    from
        (select
            cast(rating as int64) as r
        from
            df
        )
    group by
        r
    order by
        cnt desc
'''
duckdb.connect().execute(query).df()

         r  cnt
0    800.0  786
1   1600.0  454
2   1700.0  434
3   1900.0  434
4   2000.0  422
5   1800.0  418
6   1500.0  411
7   2400.0  397
8   2200.0  396
9   1300.0  384
10  2100.0  383
11  1400.0  375
12  1200.0  370
13  1100.0  351
14  2500.0  350
15  2300.0  337
16  1000.0  335
17   900.0  288
18  2600.0  280
19  2700.0  256
20     NaN  212
21  2800.0  201
22  2900.0  189
23  3000.0  157
24  3500.0  147
25  3200.0  135
26  3100.0  130
27  3300.0   98
28  3400.0   75

In [70]:
import pandas as pd
import duckdb

df = pd.DataFrame(pd.read_json('./api/problemset.problems.json.gz').result.problems)

query = '''
    select
        *
    from
        df
    where
        rating between 1000 and 1600

    order by
        random()
    limit 5
'''
duckdb.connect().execute(query).df()

,contestId,index,name,type,points,rating,tags
0,1734,C,Removing Smallest Multiples,PROGRAMMING,1250.0,1200.0,"[greedy, math]"
1,683,A,The Check of the Point,PROGRAMMING,NaN,1200.0,"[*special, geometry]"
2,1619,C,Wrong Addition,PROGRAMMING,NaN,1200.0,[implementation]
3,710,C,Magic Odd Square,PROGRAMMING,NaN,1500.0,"[constructive algorithms, math]"
4,413,B,Spyke Chatting,PROGRAMMING,1000.0,1300.0,[implementation]

In [2]:
import pandas as pd
import duckdb

df = pd.DataFrame(pd.read_json('./api/problemset.problems.json.gz').result.problems)

query = '''
    select
        'https://codeforces.com/contest/' || contestId || '/problem/' || index as url,
        contestId || lower(index) as problem_id,
    from
        df
    where
        contestId >= 1623
        and len(index) = 1
        and points is not null
        and rating between 800 and 1600
    order by
        random()
    limit 5
'''

ret = ! echo ./problemset/$(date +"%Y%W.%d%M%S")
d = ret[0]
print(f'## {d}')
print()
! mkdir -p {d}
for _, r in duckdb.connect().execute(query).df().iterrows():
    print(f'### {r.url}')
    print()
    ! cp ./template.cpp {d}/{r.problem_id}.cpp
    ! echo 1 > {d}/{r.problem_id}.txt
    print(f'- [file]({d}/{r.problem_id}.cpp)')
    print()

## ./problemset/202402.093422

### https://codeforces.com/contest/1684/problem/C

- [file](./problemset/202402.093422/1684c.cpp)

### https://codeforces.com/contest/1647/problem/A

- [file](./problemset/202402.093422/1647a.cpp)

### https://codeforces.com/contest/1687/problem/A

- [file](./problemset/202402.093422/1687a.cpp)

### https://codeforces.com/contest/1883/problem/D

- [file](./problemset/202402.093422/1883d.cpp)

### https://codeforces.com/contest/1637/problem/C

- [file](./problemset/202402.093422/1637c.cpp)